html {
  font-family: "Roboto", sans-serif;
}

.header {
  font-family: "Shrikhand", cursive;
}

footer {
  font-family: "Shrikhand", cursive;
}
footer p {
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.button-link a:link {
  color: white;
  text-decoration: none;
}
.button-link a:visited {
  color: white;
}
.button-link a:hover {
  color: #d4bfca;
}
.button-link a:active {
  color: white;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  border-width: 0px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 15px 5px #bbbbbb;
  color: white;
}
.button:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #ff46cc, #782cd3);
  box-shadow: 0px 5px 15px 8px #bbbbbb;
}

.order-button {
  padding-top: 30px;
  padding-bottom: 90px;
  margin-left: 190px;
  margin-right: 190px;
}

.container {
  display: block;
  height: 50px;
  width: 100%;
  padding-left: 12px;
  padding-top: 12px;
}
.container h2 {
  width: 100px;
  margin: 0px;
}
.container .like-button {
  padding: 0px;
  font-size: 20px;
  font-weight: normal;
}
.container .heart-empty {
  position: relative;
  left: 270px;
  bottom: 50px;
  color: gray;
  font-size: 25px;
}
.container .heart {
  font-size: 25.1px;
  position: relative;
  left: 239px;
  bottom: 43.8px;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to top, #FF79DA, #9356DC 50%, transparent 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200%;
  transition: background-position 1s ease;
}
.container .heart:hover {
  background-position: 0 100%;
}

.container__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .container__menu {
    gap: 420px;
    flex-direction: row;
    width: 50px;
    padding: 0px;
  }
}

.heart-empty-menu {
  position: relative;
  left: 0px;
  bottom: 13px;
  color: gray;
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  .heart-empty-menu {
    bottom: 7px;
  }
}

.heart-menu {
  font-size: 25.1px;
  position: relative;
  left: -28.6px;
  bottom: 23.8px;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to top, #FF79DA, #9356DC 50%, transparent 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200%;
  transition: background-position 1s ease;
}
@media screen and (min-width: 768px) {
  .heart-menu {
    bottom: 3.8px;
  }
}
.heart-menu:hover {
  background-position: 0 100%;
}

.menu-area {
  display: flex;
  height: 470px;
  width: 100%;
  min-width: 350px;
  flex-direction: column;
  align-items: center;
  background-color: #dcd3d3;
  align-items: flex-start;
  justify-content: flex-start;
  justify-self: flex-start;
  position: relative;
  gap: 20px;
  height: 350px;
  margin-bottom: 20px;
  width: 360px;
}
.menu-area__fade {
  z-index: 2;
  position: absolute;
  width: 107%;
  background-color: #dcd3d3;
  height: 104%;
  right: -3px;
  animation: fade-in 1.5s 0.7s;
  animation-fill-mode: backwards;
  animation-fill-mode: forwards;
}
@media screen and (min-width: 768px) {
  .menu-area__fade {
    height: 108%;
    left: -12px;
    bottom: -22px;
  }
}
@keyframes fade-in {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    z-index: -1;
  }
}
.menu-area__fade-2 {
  animation-delay: 1.5s;
}
.menu-area__fade-3 {
  animation-delay: 2s;
}
@media screen and (min-width: 768px) {
  .menu-area {
    width: 600px;
    height: 390px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 5px #bbbbbb;
    background-color: #dcd3d3;
  }
}
.menu-area h3 {
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .menu-area {
    justify-content: center;
    align-items: center;
    bottom: 0px;
    padding-top: 20px;
  }
}

.food-card {
  overflow: hidden;
  box-shadow: 0px 5px 15px 5px #bbbbbb;
  padding-top: 8px;
  padding-left: 10px;
  width: 350px;
  height: 75px;
  border-radius: 15px;
}
.food-card h4 {
  margin-bottom: 10px;
}
.food-card:active > .card-animation {
  animation: animation-move 1.5s;
  animation-fill-mode: forwards;
}
.food-card:active > .cost {
  animation: animation-cost 1.5s;
  animation-delay: 150ms;
  animation-fill-mode: forwards;
}
.food-card:active > .food-card__text {
  animation: animation-text 1.5s;
  animation-delay: 150ms;
  animation-fill-mode: forwards;
}
.food-card:active > .card-animation i {
  animation: spin 0.9s ease-in-out 1;
}

.food-card__text {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes animation-text {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(100%);
  }
}
.cost {
  height: 50px;
  width: 30px;
  position: relative;
  bottom: 19px;
  left: 290px;
}

@keyframes animation-cost {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-230%);
  }
}
.card-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 75px;
  position: relative;
  bottom: 105px;
  left: 340px;
  border-radius: 15px;
  background: #99E2D0;
}
.card-animation i {
  color: #99E2D0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 20px;
  background-color: white;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes animation-move {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-99%);
  }
}
.header {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

footer {
  height: 190px;
  width: 100%;
  background-color: #444343;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__links a:link {
  color: white;
  text-decoration: none;
}
.footer__links a:visited {
  color: white;
}
.footer__links a:hover {
  color: #d4bfca;
}
.footer__links a:active {
  color: white;
}

.loading {
  opacity: 70%;
  position: fixed;
  background-color: gray;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: timer 0.2s 1s;
  animation-fill-mode: backwards;
  animation-fill-mode: forwards;
}

@keyframes timer {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.spinner {
  z-index: 2;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(177, 8, 8, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1.5s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
}
@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
  }
}

.company-info {
  display: flex;
  height: 470px;
  width: 100%;
  min-width: 350px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: #e2dddd;
}
.company-info a:link {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .company-info {
    width: 600px;
    height: 390px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 5px #bbbbbb;
    background-color: #dcd3d3;
  }
}
@media screen and (min-width: 768px) {
  .company-info {
    margin-right: 20px;
  }
}
.company-info__location {
  display: flex;
  position: relative;
  bottom: 2px;
  justify-content: center;
  align-items: center;
  background-color: #dcd3d3;
  height: 45px;
  width: 100%;
  font-weight: bold;
  box-shadow: 0px 5px 2px -1px #bbbbbb inset;
}
.company-info__location i {
  padding-right: 10px;
}
@media screen and (min-width: 768px) {
  .company-info__location {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 5px 2px -1px #bbbbbb;
  }
}
.company-info__title {
  font-weight: bold;
  font-size: 25px;
}

.how-it-works {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 470px;
  width: 100%;
  min-width: 350px;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  padding-top: 50px;
  padding-left: 4%;
}
@media screen and (min-width: 768px) {
  .how-it-works {
    width: 600px;
    height: 390px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 5px #bbbbbb;
    background-color: #dcd3d3;
  }
}
@media screen and (min-width: 768px) {
  .how-it-works {
    padding-top: 10px;
    align-items: center;
  }
}
.how-it-works p {
  padding-bottom: 20px;
  padding-right: 150px;
}
.how-it-works ol {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
}
.how-it-works__numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  font-size: 13px;
  background-color: #9356DC;
  position: relative;
  right: 12px;
  padding-top: 4px;
}
.how-it-works li {
  display: flex;
  align-self: center;
  border-radius: 20px;
  height: 70px;
  width: 340px;
  font-size: 15px;
  box-shadow: 0px 5px 15px 5px #bbbbbb;
  background-color: #dcd3d3;
  padding-top: 25px;
  padding-right: 50px;
}
.how-it-works li i {
  font-size: 20px;
  color: gray;
  padding-left: 15px;
  padding-right: 30px;
}

.restaurants {
  width: 100%;
  min-width: 350px;
  background-color: #dcd3d3;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.restaurants p {
  align-self: flex-start;
  padding-top: 40px;
  padding-left: 8%;
  padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .restaurants p {
    align-self: center;
    padding-left: 0;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cards a:link {
  text-decoration: none;
  color: black;
}
.cards a:visited {
  color: black;
}
.cards a:hover {
  color: black;
}
.cards a:active {
  color: black;
}
@media screen and (min-width: 768px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card {
  box-shadow: 0px 5px 15px 5px #bbbbbb;
  background-color: white;
  width: 350px;
  height: 265px;
  border-radius: 20px;
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  .card {
    height: 350px;
    width: 320px;
  }
}
.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 170px;
  width: 100%;
  object-fit: fill;
}
@media screen and (min-width: 768px) {
  .card img {
    height: 250px;
  }
}
.card h3 {
  padding: 0%;
  font-size: 25px;
}
.card p {
  padding: 0%;
  font-size: 20px;
  font-weight: normal;
}

.header-menu {
  background-color: #dcd3d3;
  display: flex;
  flex-direction: column;
}
.header-menu a:link {
  color: black;
  text-decoration: none;
}
.header-menu a:visited {
  color: black;
}
.header-menu i {
  padding-right: 50px;
  font-size: 25px;
}
.header-menu img {
  box-shadow: 0px 5px 15px 5px #bbbbbb;
  border-radius: 20px;
  height: 330px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header-menu img {
    width: 700px;
  }
}
@media screen and (min-width: 768px) {
  .header-menu {
    height: 430px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  }
}

.menu {
  display: flex;
  justify-content: center;
  background-color: #dcd3d3;
}

.name {
  display: flex;
  height: 470px;
  width: 100%;
  min-width: 350px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  position: relative;
  bottom: 30px;
  width: 100%;
  height: 50px;
  background-color: #dcd3d3;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  .name {
    width: 600px;
    height: 390px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 5px #bbbbbb;
    background-color: #dcd3d3;
  }
}
@media screen and (min-width: 768px) {
  .name {
    box-shadow: 0px 5px 15px 8px #bbbbbb;
    z-index: 3;
    top: 15px;
    padding: 0px;
    margin: 0px;
    width: 600px;
    height: 100px;
    padding-top: 12px;
    padding-left: 12px;
    background: linear-gradient(to bottom right, #99E2D0, #9356DC);
  }
}
.name i {
  padding-top: 10px;
}

/*# sourceMappingURL=style.css.map */
