html {
  font-family: "Roboto", sans-serif;
}

.header {
  font-family: "Shrikhand", cursive;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.button {
  width: 220px;
  height: 50px;
  border-radius: 25px;
  border-width: 0px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 15px 5px #bbbbbb;
  color: white;
}
.button:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #ff46cc, #782cd3);
  box-shadow: 0px 5px 15px 8px #bbbbbb;
}

.header {
  height: 6 0px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
  }
}

.company-info {
  display: flex;
  height: 470px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: #e2dddd;
}
@media screen and (min-width: 768px) {
  .company-info {
    width: 600px;
    height: 390px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 5px #bbbbbb;
    background-color: rgba(220, 211, 211, 0.595);
  }
}
@media screen and (min-width: 768px) {
  .company-info {
    margin-right: 20px;
  }
}
.company-info__location {
  display: flex;
  position: relative;
  bottom: 2px;
  justify-content: center;
  align-items: center;
  background-color: rgba(220, 211, 211, 0.595);
  height: 45px;
  width: 100%;
  font-weight: bold;
  box-shadow: 0px 5px 2px -1px #bbbbbb inset;
}
.company-info__location i {
  padding-right: 10px;
}
@media screen and (min-width: 768px) {
  .company-info__location {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 5px 2px -1px #bbbbbb;
  }
}
.company-info__title {
  font-weight: bold;
  font-size: 25px;
}

.how-it-works {
  display: flex;
  height: 470px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  padding-top: 50px;
  align-items: flex-start;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .how-it-works {
    width: 600px;
    height: 390px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 5px #bbbbbb;
    background-color: rgba(220, 211, 211, 0.595);
  }
}
@media screen and (min-width: 768px) {
  .how-it-works {
    padding-top: 10px;
    align-items: center;
  }
}
.how-it-works p {
  padding-bottom: 20px;
}
.how-it-works ol {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
}
.how-it-works__numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  font-size: 13px;
  background-color: #9356DC;
  position: relative;
  right: 12px;
  padding-top: 4px;
}
.how-it-works li {
  display: flex;
  align-self: center;
  border-radius: 20px;
  width: 350px;
  height: 70px;
  font-size: 15px;
  box-shadow: 0px 5px 15px 5px #bbbbbb;
  background-color: rgba(220, 211, 211, 0.595);
  padding-top: 25px;
  padding-right: 50px;
}
.how-it-works li i {
  font-size: 20px;
  color: gray;
  padding-left: 15px;
  padding-right: 30px;
}

.restaurants {
  width: 100%;
  height: 1000px;
  background-color: rgba(220, 211, 211, 0.595);
  font-weight: bold;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.restaurants p {
  align-self: flex-start;
  padding-top: 40px;
  padding-left: 8%;
  padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .restaurants p {
    align-self: center;
    padding-left: 0;
  }
}

.card-1 {
  box-shadow: 0px 5px 15px 5px #bbbbbb;
  background-color: white;
  width: 350px;
  height: 265px;
  border-radius: 20px;
}
.card-1 img {
  height: 170px;
  object-fit: fill;
}
.card-1__container {
  height: 50px;
  padding-left: 12px;
  padding-top: 12px;
}
.card-1__container h3 {
  font-size: 25px;
  width: 200px;
}
.card-1__container p {
  padding: 0px;
  font-size: 20px;
  font-weight: normal;
}
.card-1__container .heart-empty {
  position: relative;
  left: 290px;
  bottom: 45px;
  color: gray;
}
.card-1__container .heart {
  font-size: 19.9px;
  position: relative;
  left: 265.3px;
  bottom: 40.6px;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to top, #FF79DA, #9356DC 50%, transparent 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200%;
  transition: background-position 1s ease;
}
.card-1__container .heart:hover {
  background-position: 0 100%;
}

/*# sourceMappingURL=style.css.map */
