.container {
    display: block;
    height: 50px;
    width: 100%;
    padding-left: 12px;
    padding-top: 12px;

    h2 {
        width: 100px;
        margin: 0px;
    }

    i{
        width: 25px;
    }





    .heart-empty {
        position: absolute;
        color: gray;
        font-size: 25px;
        width: 25px;

    }



    .heart {
        
        width: 25px;
        font-size: 25.1px;
        position: absolute;
        display: inline-block;
        overflow: hidden;
        background: linear-gradient(to top, $color-secondary, $color-primary 50%, transparent 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100% 200%;
        transition: background-position 1s ease;




        &:hover {

            background-position: 0 100%;
        }
    }


    &__like {
        position: relative;
        left: 260px;
        bottom: 40px;
    }



    &__menu {
        display: flex;
        flex-direction: row;
        gap: 50%;
       

        @include large-screen {
            gap: 420px;
            flex-direction: row;
            width: 50px;
            padding: 0px;
        }
    }

    &__heart {
      
        position: relative;
        bottom: 9px;
    }
}