html{
    font-family: 'Roboto', sans-serif;
}

.header{
    font-family: 'Shrikhand', cursive;
}

footer{
    font-family: 'Shrikhand', cursive;
    p{
        font-family: 'Roboto', sans-serif;
    }
}