* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include large-screen {
        flex-direction: row;
        justify-content: space-around;

        flex-wrap: wrap;
        gap: 40px;

    }
}


.company-info {
    @include section-block;
    gap: 50px;
    background-color: rgb(226, 221, 221);

    @include large-screen {
        margin-right: 20px;
    }

    &__location {
        display: flex;
        position: relative;
        bottom: 2px;
        justify-content: center;
        align-items: center;
        background-color: $color-gray;
        height: 45px;
        width: 100%;
        font-weight: bold;
        box-shadow: 0px 5px 2px -1px rgb(187, 187, 187) inset;

        i {
            padding-right: 10px;
        }

        @include large-screen {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            box-shadow: 0px 5px 2px -1px rgb(187, 187, 187);

        }

    }

    &__title {
        font-weight: bold;
        font-size: 25px;
    }
}

.how-it-works {
    @include section-block;
    font-weight: bold;
    font-size: 25px;
    padding-top: 50px;
    align-items: flex-start;
    padding-left: 20px;

    @include large-screen {
        padding-top: 10px;
        align-items: center;
    }

    p {
        padding-bottom: 20px;

    }

    ol {
        display: flex;
        flex-direction: column;
        gap: 40px;
        list-style: none;
    }

    &__numbers {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        color: white;
        font-size: 13px;
        background-color: $color-primary;
        position: relative;
        right: 12px;
        padding-top: 4px;


    }

    li {
        display: flex;
        align-self: center;
        border-radius: 20px;
        width: 350px;
        height: 70px;
        font-size: 15px;
        @include area-shadow;
        background-color: $color-gray;
        padding-top: 25px;
        padding-right: 50px;

        i {
            font-size: 20px;
            color: gray;
            padding-left: 15px;
            padding-right: 30px;
        }



    }



}

.restaurants {
    width: 100%;
    background-color: $color-gray;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;


    p {
        align-self: flex-start;
        padding-top: 40px;
        padding-left: 8%;
        padding-bottom: 25px;

        @include large-screen {
            align-self: center;
            padding-left: 0;


        }
    }


}

.cards {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include large-screen {
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: center
    }
}

.card {
    @include area-shadow;
    background-color: white;
    width: 350px;
    height: 265px;
    border-radius: 20px;

    @include large-screen {
        height: 350px;
        width: 320px;
    }

    img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 170px;
        object-fit: fill;

        @include large-screen {
            height: 250px;
        }

    }

    &__container {
        height: 50px;
        padding-left: 12px;
        padding-top: 12px;

        h3 {
            font-size: 25px;
            width: 200px;

        }

        p {
            padding: 0px;
            font-size: 20px;
            font-weight: normal;
        }

        .heart-empty {
            position: relative;
            left: 250px;
            bottom: 45px;
            color: gray;
            font-size: 25px;
        }



        .heart {

            font-size: 25px;
            position: relative;
            left: 220.3px;
            bottom: 39.5px;
            display: inline-block;
            overflow: hidden;
            background: linear-gradient(to top, $color-secondary, $color-primary 50%, transparent 50%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 100% 200%;
            transition: background-position 1s ease;

        }

        .heart:hover {
            background-position: 0 100%;
        }


    }
}

